* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
	font-size: 62.5%;
	--ff-primary: "Roboto", sans-serif;
	--txt-placeholder: hsla(240, 6%, 51%, 1);
	--txt-button: hsla(0, 0%, 100%, 1);
	--txt-color: #303030;
	--txt-table: hsla(240, 9%, 89%, 1);
	--txt-remove: hsla(355, 91%, 66%, 1);
	--txt-empty-table: hsla(189, 4%, 32%, 1);

	--bg-input: hsla(191, 65%, 7%, 1);
	--bg-button: hsla(195, 91%, 25%, 1);
	--bg-tt-collums: hsla(194, 72%, 13%, 1);
	--bg-row-odd: hsla(195, 61%, 6%, 0.5); /* ou  rgba(6, 22, 27, 0.50);*/
	--bg-row-pair: hsla(192, 65%, 7%, 1);
	--bg-body: #000;
	--border-table-row: #4a808c;
}

body {
	font-size: 1.6rem;
	color: var(--txt-table);
	background-color: var(--bg-body);
	/* width: 98.9vw;
	height: 100vh; */
}
body * {
	font-family: var(--ff-primary);
}

#app {
	max-width: 1120px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 29.3rem;
	margin-top: 11.5rem;
}

header img {
	width: 186px;
	height: 32px;
}

.search {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.search input {
	height: 4.8rem;
	width: 46.2rem;
	padding: 1.6rem;
	border: 2px solid transparent;
	border-radius: 5px;
	outline: none;
	background-color: var(--bg-input);
	color: var(--txt-placeholder);
}
input::placeholder {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 100%;
}
.search input:focus {
	border: 2px solid var(--bg-button);
}
.sr-only {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;

	margin: -1px;
	padding: 0px;
	border: 0;
	appearance: none;
}

header button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;

	padding: 1.2rem 3.2rem;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	background-color: var(--bg-button);

	color: var(--txt-button);
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.8s;
}
header button:hover {
	background-color: var(--txt-button);
	color: var(--bg-button);
}

header button p:first-child {
	font-size: 2.5rem;
}
/* button img {
	width: 2.4rem;
	height: 2.4rem;
}*/

table {
	width: 100%;
	border-collapse: collapse;
	margin-block: 8.7rem;
	/* border-radius: 12px;
	border: 1px solid var(--border-table-row); */
}
table * {
	font-size: 2rem;
	font-weight: 700;
	line-height: 160%;
	color: var(--txt-table);
}
table th {
	background-color: var(--bg-tt-collums);
	text-align: left;
}
table th:first-child {
	border-top-left-radius: 1.2rem;
	padding: 1.6rem 4rem;
}
table th:last-child {
	border-top-right-radius: 1.2rem;
}
table tr:nth-child(odd) {
	background-color: var(--bg-row-odd);
}
table tr {
	background-color: var(--bg-row-pair);
	border: 1px solid transparent;
}

td:nth-child(1) {
	padding: 1.6rem 4rem;
}
td:first-child {
	border-radius: 1.2rem;
}

td.user {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
td.user img {
	width: 56px;
	height: 56px;
	object-fit: cover;
	border-radius: 56%;
}
td.user a {
	text-decoration: none;
}
td.user a p {
	font-weight: bold;
}
td.user a span {
	font-weight: 400;
}
td .remove {
	background: none;
	border: none;
	color: var(--txt-remove);
	font-weight: bold;
	cursor: pointer;
	transition: filter 0.8s;
}
td .remove:hover {
	filter: brightness(0.5);
}
tbody tr:last-child td:first-child {
	border-bottom-left-radius: 1.2rem;
}
tbody tr:last-child td:last-child {
	border-bottom-right-radius: 1.2rem;
}

.rowNoFavorites {
	text-align: center;
}

.td-rowNoFavorites div {
	padding: 5rem 19.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6rem;
}
.td-rowNoFavorites div img {
	width: 132px;
}
.td-rowNoFavorites div h2 {
	width: 505px;
	font-size: 40px;
	font-weight: 700;
	line-height: 24.781px;
	font-family: Roboto Mono;
	color: var(--txt-empty-table);
}
